*{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        header, footer{
    padding: 20px 15px;

        }
        main{
            background:#999;
            padding: 10px;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 2fr;

        }
        article{
            background:#fff;
            padding: 20px;
            background-color: blue;
        }
        footer{
            font-family: fantasy;
        }

        @media screen and (min-width:768px){
              main{
            grid-template-columns: repeat(3, 1fr);
        }

        }
    </style>
